<h1>The Ackerman Model</h1>
<div>
  <h2>Essential Concepts</h2>
  <ul>
    <li>Using "How" as "No"</li>
    <li>Calibrated Questions</li>
    <li>Nonround / Iregular numbers</li>
    <li>Extreme anchors</li>
  </ul>
  <p></p>
  <h2>How it works / Dialog Flow</h2>
  <p>reasons, reasons, reasons</p>
  <ol>
    <li>Set your target price (your goal buy/sell price)</li>
    <li>
      Set your first offer at 65% offset of your target price depending on if
      you are buying
      <ul>
        <li>If you are buying: offset</li>
        <li>If you are selling: 200% - offset</li>
      </ul>
    </li>
    <li>
      Calculate three price offset raises of decreasing increments (to 85%, 95%,
      and 100%).
    </li>
    <li>
      Use lots of empathy and different ways of saying "No" to get the other
      side to counter before you increase your offer.
    </li>
    <li>
      When calculating the final amount, use precise, nonround, numbers like,
      say, $37,893 rather than $38,000. It gives the number credibility and
      weight.
    </li>
    <li>
      On your final number, throw in a nonmonetary item (that they probably
      don't want) to show you're at your limit.
    </li>
  </ol>

  <h3>Let's walk through a scenario</h3>

  <app-ackerman-calculator />
</div>
